{% extends "base.html" %}
{% load static %}
{% block page_head %}
    <!-- Custom CSS -->
    <link href="{% static 'bigday/css/creative.css' %}" rel="stylesheet">
    <style>
        /* Hero header sits behind the fixed navbar; no body padding needed */
        body { padding-top: 0; }
        /* Center the hero text vertically so it isn't clipped by the fixed navbar */
        @media (min-width: 768px) {
            header .header-content { top: 50%; }
        }
    </style>
{% endblock %}
{% block page_content %}
    {% block main %}
    <header id="main-header">
        <div class="header-content">
            <div class="header-content-inner">
                <h1>{{ wedding.hero_title }}</h1>
                <hr>
                <a href="#welcome" class="btn btn-info btn-xl page-scroll">Welcome</a>
                <a href="#event" class="btn btn-primary btn-xl page-scroll">The Event</a>
                <a href="#story" class="btn btn-success btn-xl page-scroll">Our Story</a>
            </div>
        </div>
    </header>
    <section class="bg-info" id="welcome">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">Welcome!</h2>
                    <hr>
                    <p>
                        Hello friends and family! Welcome to the wedding website for {{ couple_name }}.
                    </p>
                    <p>
                        If you're looking for information about the event, look no further!
                        Please see below for all the details regarding <a href="#event" class="page-scroll">the event</a> and <a href="#niagara" class="page-scroll">getting there</a>.
                    </p>
                    {% if support_email %}
                    <p>
                        If you have any questions, feel free to reach out to us at
                        <a href="mailto:{{ support_email }}">{{ support_email }}</a>.
                    </p>
                    {% endif %}
                    <p>
                        Looking forward to seeing everyone soon!
                    </p>
                    <p class="pull-right">- {{ couple_name }}</p>
                </div>
            </div>
        </div>
    </section>
    <section class="no-padding" id="navigation">
        <div class="container-fluid">
            <div class="row no-gutter">
                <div class="col-lg-4 col-sm-6">
                    <a href="#event" class="portfolio-box page-scroll">
                        <img src="{% static 'bigday/images/ravine-nav.jpg' %}" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-name">
                                    The Event
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="#niagara" class="portfolio-box page-scroll">
                        <img src="{% static 'bigday/images/prince-of-wales-hotel-nav.jpg' %}" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-name">
                                    Getting There
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="#story" class="portfolio-box page-scroll">
                        <img src="{% static 'bigday/images/twelve-apostles-nav.jpg' %}" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-name">
                                    Our Story
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </section>
    {% include 'partials/event.html' %}
    <section id="niagara">
        {% include 'partials/niagara.html' %}
    </section>
    <section id="other-stuff" class="bg-primary">
        {% include 'partials/misc.html' %}
    </section>
    <section id="gifts">
        {% include 'partials/gifts.html' %}
    </section>
    <section id="story" class="bg-dark">
        {% include 'partials/story.html' %}
    </section>
    {% include 'partials/proposal.html' %}
    {% include 'partials/save-the-dates.html' %}
    <section id="contact" class="bg-dark">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">Contact us!</h2>
                    <hr class="primary">
                    <p>If you have any questions don't hesitate to reach out!</p>
                </div>
                {% if support_email %}
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <i class="fa fa-envelope-o fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                    <p><a href="mailto:{{ support_email }}">{{ support_email }}</a></p>
                </div>
                {% endif %}
            </div>
        </div>
    </section>
    {% endblock %}
{% endblock %}
{% block page_js %}
    <!-- Plugin JavaScript -->
    <!-- Easing is for the vertical scroll animations -->
    <script src="{% static 'creative/js/jquery.easing.min.js' %}"></script>
    <!-- Automatically fit text based on screen size.-->
    <script src="{% static 'creative/js/jquery.fittext.js' %}"></script>
    <!-- Custom Theme JavaScript -->
    <script src="{% static 'creative/js/creative.js' %}"></script>
{% endblock %}
